<table mat-table [dataSource]="gridData" matSort class="mat-elevation-z8">
  <ng-container
    [matColumnDef]="column.name"
    [sticky]="configuration.pinned"
    *ngFor="let column of configuration.columnDefinitions"
  >
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      cdkDropList
      cdkDropListLockAxis="x"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropListDropped($event, i)"
      cdkDrag
      (cdkDragStarted)="dragStarted($event, i)"
      [cdkDragData]="{ name: column.name, columnIndex: i }"
    >
      {{ column.label }}
    </th>
    <td mat-cell *matCellDef="let element">
      <span [innerHtml]="element[column.name]"></span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<h3>Limitations</h3>
<ul>
  <li>
    Column Resize: <a href="https://stackblitz.com/edit/mat-table-resize">Link 1</a>
    <a href="https://stackblitz.com/edit/angular-rtfc5v">Link 2</a>
  </li>
  <li>Drag and Drop headers: <a href="https://stackblitz.com/edit/angular-p12rek">Link</a></li>
</ul>
