<ag-grid-angular
  style="width: 1000px; height: 500px;"
  #agGrid
  class="ag-theme-material"
  id="myGrid"
  [defaultColDef]="defaultColDef"
  [components]="components"
  [rowSelection]="rowSelection"
  [rowDeselection]="true"
  [rowModelType]="rowModelType"
  [cacheOverflowSize]="cacheOverflowSize"
  [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
  [infiniteInitialRowCount]="infiniteInitialRowCount"
  [maxBlocksInCache]="maxBlocksInCache"
  [pagination]="true"
  [paginationPageSize]="paginationPageSize"
  [cacheBlockSize]="cacheBlockSize"
  [getRowNodeId]="getRowNodeId"
  (gridReady)="onGridReady($event)"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
>
</ag-grid-angular>

<h3>Abilities</h3>
<ul>
  <li>No more column options (if we don't want)</li>
  <li>Custom sort objects to bypass client side sort</li>
  <li>Cellrenderer for anything more complex than text</li>
  <li>Drag drop, pin, resize</li>
  <li>Pagination and Infinite scroll configurable</li>
</ul>
